@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-heading text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply font-heading text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply font-heading text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply font-heading text-base font-bold md:text-lg;
  }

  body {
    @apply relative bg-neutral text-sm text-dark md:text-base;
  }
}

@layer components {
  input[aria-invalid="true"] {
    @apply border-red-500 text-red-600 focus:border-red-500 focus:ring-red-50;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
